@using FreeLancer_v1.Models
@model ViewModelClass

<div id="wrapper">

    <!-- Sidebar -->
    @Html.Partial("~/Views/Shared/_PartialPageSubCategory.cshtml")
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">

                <div class="col-lg-10">
                    @foreach (var expert in Model.HomeExpert)
                    {
                        <div class="col-lg-3">
                            <img src="~/Mutlu/dfhodd.1.jpg" alt="..." class="img-thumbnail"><br />
                            @(expert.name)
                            @(expert.lastname)<br />
                            @(expert.degree)<br /><br /><br />
                        </div>
                    }
                </div>

            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
