@using FreeLancer_v1.Models
@model ViewModelClass
@{
    ViewBag.Title = "Kesfet";
}

<h2>Kesfet</h2>
<div class="container">
    @Html.Partial("~/Views/Shared/_PartialPageCategory.cshtml")
    <!-- STATIC LAYOUT ENDS -->
    
    <div class="body-content">
        <div class="py-5 bg-white text-center">
            @foreach (var item in Model.HomeExpert)
            {
                <div class="col-md-4 bg-primary">
                    <div class="">
                        for image
                    </div>
                    <div class="text-dark">
                        @(item.name + "" + item.lastname)
                    </div>
                    <div class="text-dark">
                        @item.degree
                    </div>
                </div>
            }

        </div>
        <div class="py-5 bg-white text-center">
            ladkfhdfljgılitrjsyogtry
        </div>
        <div class="py-5 bg-white text-center">
            ladkfhdfljgılitrjsyogtry
        </div>
        <div class="py-5 bg-white text-center">
            şdsGJOERHJ  AYPİTRJGHSTHILİSSOPTY9,IHSGFMNHAIOİGUTHYJOSTRH
        </div>
    </div>
</div>

