@using FreeLancer_v1.Models
@model ViewModelClass
@{
    ViewBag.Title = "Kesfet";
}

<h2>Kesfet</h2>
<div class="container">
    @Html.Partial("~/Views/Shared/_PartialPageCategory.cshtml")
    <!-- STATIC LAYOUT ENDS -->
    
    <!-- /#wrapper -->
</div>

